.main-proyecto {
    .proyecto-breadcrumb {
        background-color: $color-g;
        .breadcrumb {
            background-color: $color-g;
            margin-bottom: 0;
            &-item {
                a {
                    font-weight: 600;
                    text-transform: uppercase;
                    color: rgba($color-black,0.7);
                    &.active {
                        color: $color-black;
                    }
                }
            }
        }
    }
}
.main-comocomprar {
    .breadcrumb {
        background-color: #ffffff;
        margin-bottom: 0;
        &-item {
            a {
                font-weight: 600;
                text-transform: uppercase;
                color: rgba(#ffffff,0.7);
                &.active {
                    color: #ffffff;
                }
            }
        }
    }
}