.btn {
    padding: .6rem .75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0;
}
.btn-prim {
    color: #ffffff;
    background-color: $color-h;
    border-color: $color-h;
    font-weight: 700;
    text-transform: uppercase;
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: $color-hh;
        border-color: $color-hh;
    }
}
.btn-mgi {
    color: #ffffff;
    background-color: $color-m;
    border-color: $color-m;
    font-weight: 700;
    text-transform: uppercase;
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: $color-mb;
        border-color: $color-mb;
    }
}
.btn-mgi-xl {
    background-color: $color-m;
    color: #ffffff;
    padding: 25px 25px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: $color-mb;
        border-color: $color-mb;
    }
}
.btn-back {
    background-color: $color-h;
    color: #ffffff;
    padding: 25px 25px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: $color-hh;
        border-color: $color-hh;
    }
}
.btn-addr {
    background-color: $color-g;
    color: $color-black;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
    border: none;
    width: 100%;
    font-size: 1.25rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        margin-right: 5px;
        font-size: 25px;
    }
    @include MQ(md) {
        font-size: 1.5rem;
    }
    @include MQ(lg) {
        font-size: 1rem;
    }
    @include MQ(xl) {
        font-size: 1.125rem;
    }
    &:hover, &:focus, &:active {
        color: $color-black;
        background-color: $color-g2;
        border-color: $color-g2;
    }
}
.btn-cot {
    background-color: $color-m;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
    border: none;
    width: 100%;
    font-size: 1.25rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include MQ(md) {
        font-size: 1.5rem;
    }
    @include MQ(lg) {
        font-size: 1rem;
    }
    @include MQ(xl) {
        font-size: 1.125rem;
    }
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: $color-mb;
        border-color: $color-mb;
    }
}
.btn-solinfo {
    background-color: $color-h;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
    border: none;
    width: 100%;
    font-size: 1.125rem;
    height: 100px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        margin-right: 5px;
        font-size: 25px;
        vertical-align: -5px;
    }
    @include MQ(md) {
        font-size: 1.5rem;
    }
    @include MQ(lg) {
        font-size: 1rem;
    }
    @include MQ(xl) {
        font-size: 1.125rem;
    }
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: $color-hh;
        border-color: $color-hh;
    }
}
.btn-infos {
    background-color: rgba( $color-m,.7);
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
    border: none;
    width: 100%;
    font-size: 1.125rem;
    height: 100px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        margin-right: 5px;
        font-size: 25px;
        vertical-align: -5px;
    }
    @include MQ(md) {
        font-size: 1.5rem;
    }
    @include MQ(lg) {
        font-size: 1rem;
    }
    @include MQ(xl) {
        font-size: 1.125rem;
    }
    &:hover, &:focus, &:active {
        color: #ffffff;
        background-color: $color-m;
        border-color: $color-m;
    }
}