.selectcomuna {
    .dropdown {
        background-color: #ffffff;
        &-toggle {
            width: 100%;
            border-radius: 0;
            text-transform: uppercase;
            font-size: 0.875rem;
            color: #000000;
            height: 50px;
            font-weight: 500;
            position: relative;
            z-index: 2;
            &::after {
                content: none;
            }
        }
        &-menu {
            width: 100%;
            text-transform: uppercase;
            border-radius: 0;
            a {
                font-size: 0.875rem;
                text-align: center;
                color: #000000;
                font-weight: 600;
            }
        }
    }
    &-icon {
        position: absolute;
        top: 15px;
        right: 30px;
        z-index: 1;
    }
}
.form-control {
    border-radius: 0;
    height: calc(1.5em + 1.875rem + 2px);
    padding: 0.9375rem 0.9375rem;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $color-m;
    background-color: $color-m;
}
div.wpcf7-mail-sent-ok {
    color: #ffffff;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    color: #ffffff;
}
.formcotizar {
    label.error {
        color: #ffffff;
    }
}