/* main.css */
html,
body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    overflow-x: hidden;
    color: $color-black;
    position: relative;
}
a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: rgba(0,0,0,1);
}
a:focus,
a:hover {
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: $color-m;
}
button:focus {
    outline:none;
}
p {
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: $color-black;
    font-weight: 600;
}
h1, .h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
h2, .h2 {
    font-size: 1.625rem;
    text-transform: uppercase;
    margin-bottom: 35px;
}
h3, .h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.text {
    font-size: 1.125rem;
    margin-bottom: 45px;
}
.text-w {
    color: #ffffff;
}
.text-b {
    color: $color-black;
}
.titulo {
    text-transform: uppercase;
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 35px;
}
.subtitulo {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 45px;
}
.bg-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.bg-image {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.bg-g {
    background-color: $color-g;
}
.bg-h {
    background-color: $color-h;
}
.bg-m {
    background-color: $color-m;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.imghover {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
a:hover {
    .imghover {
        transform: scale(1.1);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
}
.image-overlay {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.image-overlay-4 {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
}
.boxtext {
    &-w {
        background-color: rgba(#ffffff,.9);
    }
}
.text-colum {
    column-count: 1;
    @include MQ(lg) {
        column-count: 2;
    }
    p {
        margin-bottom: 20px !important;
        font-size: 1rem !important;
    }
}
ul {
    li {
        margin-bottom: 10px;
    }
}