.header-mgi {
    .navbar {
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        padding: 0px 16px;
        &-light {
            background-color: #ffffff !important;
            .navbar-collapse {
                text-align: center;
                padding: 21px 0;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                @include MQ(lg) {
                    text-align: center;
                }
            }
            .navbar-nav {
                .nav-item {
                    margin-bottom: 0;
                }
                .nav-link {
                    text-transform: uppercase;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    padding-right: 1.4rem;
                    padding-left: 1.4rem;
                    color: rgba(0,0,0,.7);
                    font-size: 1rem;
                }
                .active>.nav-link {
                    color: rgba(0,0,0,.9);
                }
            }
            .nav-btn {
                margin-right: 1.4rem;
                margin-left: 1.4rem;
                .btn {
                    font-size: 0.875rem;
                }
            }
        }
        &-brand {
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            padding: 0;
            img {
                width: 210px;
                padding-top: 5px;
                padding-bottom: 5px;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                @include MQ(md) {
                    width: 230px;
                }
                @include MQ(lg) {
                    width: 280px;
                }
            }
        }
        .dropdown-menu {
            border-radius: 0;
            text-align: center;
            .dropdown-item {
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                padding-right: 1.4rem;
                padding-left: 1.4rem;
                color: rgba(0, 0, 0, 0.7);
                font-size: 1rem;
            }
            .dropdown-item:focus, .dropdown-item:hover {
                color: rgba(0,0,0,.9);
                text-decoration: none;
                background-color: #ffffff;
            }
        }
    }
    .sps--blw  {
        background-color: #ffffff !important;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        .navbar-brand {
            img {
                width: 180px;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                @include MQ(lg) {
                    width: 238px;
                }
            }
        }
        .navbar-collapse {
            padding: 15px 0;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
        }
    }
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.9);
}
.header-proyecto {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        &-light {
            background-color: #ffffff !important;
            .navbar-nav {
                .nav-item {
                    margin-bottom: 0;
                }
                .nav-link {
                    text-transform: uppercase;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    padding-right: 1.4rem;
                    padding-left: 1.4rem;
                    color: rgba(0,0,0,.7);
                    font-size: 1rem;
                }
                .nav-link.active {
                    color: rgba(0,0,0,1);
                }
            }
            .nav-btn {
                margin-right: 1.4rem;
                margin-left: 1.4rem;
                .btn {
                    font-size: 0.875rem;
                }
            }
        }
        &-brand {
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            padding-top: 0;
            padding-bottom: 0;
            img {
                width: 210px;
                padding-top: 5px;
                padding-bottom: 5px;
                @include MQ(md) {
                    width: 220px;
                }
                @include MQ(lg) {
                    width: 240px;
                }
            }
        }
        &.sps--blw  {
            background-color: #ffffff !important;
            -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            .navbar-brand {
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
            }
        }
    }
    &__nombre {
        opacity: 0;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        background-color: $color-h;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        width: 100%;
        text-align: center;
        @include MQ(md) {
            width: 355px;
            text-align: left;
            padding-left: 35px;
        }
        &.sps--blw {
            opacity: 1;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
        }
        &__titulo {
            color: #ffffff;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }
}
.single-modelo--header {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        background-color: #ffffff !important;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        &-light {
            background-color: #ffffff !important;
            .navbar-nav {
                .nav-link {
                    text-transform: uppercase;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    padding-right: 1.4rem;
                    padding-left: 1.4rem;
                    color: rgba(0,0,0,.7);
                    font-size: 1rem;
                }
                .nav-link.active {
                    color: rgba(0,0,0,1);
                }
            }
            .nav-btn {
                margin-right: 1.4rem;
                margin-left: 1.4rem;
                .btn {
                    font-size: 0.875rem;
                }
            }
        }
        &-brand {
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            padding-top: 0;
            padding-bottom: 0;
            img {
                width: 220px;
                @include MQ(lg) {
                    width: 240px;
                }
            }
        }
        &.sps--blw  {
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            .navbar-brand {
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
            }
        }
    }
}
.navbar-toggler {
    border-radius: 0;
}
.navbar-nav {
    text-align: center;
    @include MQ(xl) {
        text-align: left;
    }
}