.main-proyecto {
    .hero {
        position: relative;
        padding-top: 71px;
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        &-col__l {
            padding: 0;
        }
        &-intro {
            top: 50%;
            z-index: 1;
            right: 0;
            width: 100%;
            position: relative;
            background-color: #373f48;
            @include MQ(md) {
                position: absolute;
                top: unset;
                bottom: 0;
                left: 0; 
                width: 400px;   
            }
            @include MQ(lg) {
                position: absolute;
                right: unset;
                left: -70px;
                bottom: 0;
                top: unset;
                width: 40%;
            }
            &__box {
                width: 100%;
                text-align: center;
                @include MQ(lg) {
                    text-align: right;
                    padding-right: 40px;
                }
                &__ds {
                    color: #cccccc;
                    font-weight: 500;
                }
                &__title {
                    color: #ffffff;
                    font-size: 1.875rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                &__uf {
                    color: #ffffff;
                    margin-bottom: 0;
                    font-size: 1.375rem;
                    font-weight: 300;
                    b {
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .postintro {
        &-col {
            padding: 0;
        }
        &-ubicacion {
            &__map {
                height: 100px;
                padding: 35px 20px;
                background-color: #f5f5f5;
                text-align: center;
                color: #373f48;
                font-size: 1.25rem;
                font-weight: 400;
                margin: 0;
                svg {
                    margin-right: 5px;
                    font-size: 25px;
                }
            }
        }
        &-modelos {

        }
        &-info {
            @include MQ(md) {
                padding-bottom: 90px;
                padding-bottom: 90px;
            }
        }
    }
    .modelos {
        padding-top: 60px;
        padding-bottom: 50px;
        @include MQ(lg) {
            padding-bottom: 90px;
            padding-bottom: 60px;
        }
        &-title {
            text-transform: uppercase;
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 35px;
        }
        &-subtitle {
            font-size:1.25rem;
            font-weight: 500;
            margin-bottom: 25px;
        }
        &-text {
            font-size: 1.125rem;
            margin-bottom: 45px;
        }
        .planta {
            position: relative;
            &-thumb {
                overflow: hidden;
                height: 233px;
            }
            &-detalle {
                &__title {
                    font-size: 1.5rem;
                }
                &__uf {
                    font-size: 1.125rem;
                    margin-bottom: 5px;
                }
                &__superficie {
                    font-size: 1rem;
                    margin: 0;
                    color: $color-black;
                    font-weight: 400;
                }
                &__programa {
                    font-size: 1rem;
                    margin: 0;
                }
                &__terreno {
                    font-size: 1rem;
                    margin: 0;
                }
            }
            &-entrega {
                position: absolute;
                background-color: $color-m;
                top: 0;
                right: 0;
                color: #ffffff;
                text-transform: uppercase;
                padding: 10px 15px;
                font-weight: 500;
            }
            &.planta-agotada {
                .planta-thumb {
                    opacity: .8;
                }
                .planta-detalle {
                    opacity: .8;
                }
                .planta-entrega {
                    background-color: $color-h;
                }
            }
        }
    }
    .terminaciones {
        padding-top: 60px;
        padding-bottom: 60px;
        &-col__l {
            padding: 0;
            margin-top: -50px;
        }
        &-col__r {
            background-color: $color-h;
            padding-top: 60px; 
            padding-bottom: 60px; 
            text-align: center;
            @include MQ(lg) {
                padding: 75px 60px;
                text-align: left;
            }
        }
        &-title {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 25px;
        }
        &-subtitle {
            color: #ffffff;
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 35px;
        }
        &-text {
            li {
                color: #ffffff;
                font-size: 1rem;
                margin-bottom: 5px;
                font-weight: 300;
            }
        }
    }
    .galeria {
        padding-top: 60px;
        padding-bottom: 60px;
        @include MQ(lg) {
            padding-top: 90px;
            padding-bottom: 90px
        }
        &-col {
            padding: 0;
        }
    }
    .barrio {
        padding-top: 60px;
        padding-bottom: 50px;
        @include MQ(lg) {
            padding-top: 150px;
            padding-bottom: 170px;
        }
        &-col__l {
            background-color: $color-g;
            padding-top: 60px;
            padding-bottom: 60px;
            text-align: center;
            @include MQ(lg) {
                position: absolute;
                padding: 90px 60px;
                padding-right: 150px;
                text-align: left;
            }
        }
        &-col__r {
            padding: 0;
            margin-top: 0;
            @include MQ(lg) {
                margin-top: -50px;
            }
        }
        &-title {
            color: #000000;
            text-transform: uppercase;
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 25px;
        }
        &-subtitle {
            color: #000000;
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 35px;
        }
        &-text {
            li {
                color: #000000;
                font-size: 0.9375rem;
                margin-bottom: 5px;
                font-weight: 300;
            }
        }
    }
    .ubicacion {
        padding-top: 60px;
        padding-bottom: 60px;
        &-col__l {
            padding: 0;
        }
        &-col__r {
            background-color: $color-h;
            padding-top: 60px; 
            padding-bottom: 60px; 
            text-align: center;
            @include MQ(lg) {
                padding: 75px 60px;
                text-align: left;
            }
        }
        &-title {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 25px;
        }
        &-direccion {
            font-size: 1.25rem;
            font-weight: 400;
            color: #ffffff;
        }
        &-subtitle {
            color: #ffffff;
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 35px;
        }
        &-text {
            color: #ffffff;
            font-size: 0.9375rem;
            margin-bottom: 5px;
            font-weight: 300;
        }
    }
    .subsidio {
        padding-top: 90px;
        padding-bottom: 90px;
        background-color: $color-m;
        margin-bottom: 90px;
    }
    .saladeventas {
        background-color: $color-g;
        padding-top: 50px;
        padding-bottom: 50px;
        @include MQ(lg) {
            padding-top: 90px;
            padding-bottom: 60px;
        }
        &-col__l {
            margin-bottom: 32px;
            @include MQ(md) {
                padding: 32px;
                margin-bottom: 0;
            }
        }
        &-col__r {
            margin-bottom: 32px;
            @include MQ(md) {
                padding: 32px;
                margin-bottom: 0;
            }   
        }
        &-title {
            text-transform: uppercase;
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 35px;
        }
        &-ul {
            &__text {
                font-size: 0.9375rem;
                margin-bottom: 5px;
                font-weight: 500;
                color: $color-h;
                a {
                    font-weight: 500;
                    color: $color-h;
                    &:hover {
                        color: $color-black;  
                        font-weight: 600;
                    }
                }
            }
        }
        .form-control {
            border-radius: 0;
        }
    }
}