.toptitle {
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: $color-h;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: 87px;
    @include MQ(md) {
        margin-top: 90px;
    }
    @include MQ(lg) {
        margin-top: 96px;
        width: 360px;
    }
    &.sticky {
        opacity: 1;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    &-box {
        width: 100%;
        text-align: center;
        @include MQ(lg) {
            text-align: left;
            padding-left: 35px;
        }
    }
    &-titulo {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}
.proyecto {
    .hero {
        position: relative;
        &-col {
            padding-right: 0;
            padding-left: 0;
            @include MQ(xl) {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        &-intro {
            position: relative;
            background-color: $color-h;
            &__box {
                width: 100%;
                text-align: center;
                @include MQ(lg) {
                    text-align: right;
                    padding-right: 30px;
                }
                @include MQ(xl) {
                    text-align: right;
                    padding-right: 40px;
                }
                &__ds {
                    color: #cccccc;
                    font-weight: 500;
                }
                &__titulo {
                    color: #ffffff;
                    font-size: 1.625rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    @include MQ(lg) {
                        font-size: 1.5rem;
                    }
                    @include MQ(xl) {
                        font-size: 1.75rem;
                    }
                }
                &__uf {
                    color: #ffffff;
                    margin-bottom: 10px;
                    font-size: 1.375rem;
                    font-weight: 300;
                    b {
                        font-weight: 500;
                    }
                }
                &__comuna {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.375rem;
                    color: #ffffff;
                    margin-bottom: 0;
                }
            }
        }
    }
    .postintro {
        &-col {
            padding-right: 0;
            padding-left: 0;
            @include MQ(xl) {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        &-docs {
            padding-right: 0;
            padding-left: 0;
            @include MQ(xl) {
                padding-left: 15px;
                padding-right: 0;
            }
        }
        &-ubicacion {
            &__map {
                &__direccion {
                    margin: 0;
                }
            }
        }
        &-info {
        }
    }
    .modelos {
        padding-top: 60px;
        padding-bottom: 50px;
        @include MQ(lg) {
            padding-top: 90px;
            padding-bottom: 60px;
        }
        h2 {
            text-transform: uppercase;
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 35px;
        }
        h3 {
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 45px;
        }
        p {
            font-size: 1.125rem;
            margin-bottom: 45px;
        }
        .modelo {
            position: relative;
            &-thumb {
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            &-detalle {
                &__titulo {
                    font-size: 1.5rem;
                    margin-bottom: 8px;
                }
                &__uf {
                    font-size: 1.125rem;
                    margin-bottom: 5px;
                }
                &__superficie {
                    font-size: 1rem;
                    margin: 0;
                    color: $color-black;
                    font-weight: 400;
                }
                &__programa {
                    font-size: 1rem;
                    margin: 0;
                }
                &__terreno {
                    font-size: 1rem;
                    margin: 0;
                }
            }
            &-entrega {
                position: absolute;
                background-color: $color-m;
                top: 0;
                right: 0;
                color: #ffffff;
                text-transform: uppercase;
                padding: 10px 15px;
                font-weight: 500;
                font-size: 0.75rem;
            }
            &.modelo-agotado {
                .modelo-thumb {
                    opacity: .8;
                }
                .modelo-detalle {
                    opacity: .8;
                }
                .modelo-entrega {
                    background-color: $color-h;
                }
            }
        }
    }
    .documentacion {
        background-color: $color-g;
        padding-top: 60px;
        padding-bottom: 50px;
        @include MQ(lg) {
            padding-top: 90px;
            padding-bottom: 60px;
        }
    }
    .terminaciones {
        padding-top: 60px;
        padding-bottom: 50px;
        @include MQ(lg) {
            padding-top: 90px;
            padding-bottom: 60px;
        }
        &-col__l {
            padding: 0;
            @include MQ(xl) {
                margin-top: -50px;
            }
        }
        &-col__r {
            background-color: $color-h;
            padding-top: 60px;
            padding-bottom: 60px;
            text-align: center;
            @include MQ(lg) {
                padding: 75px 60px;
                text-align: left;
            }
        }
        &-text {
            ul {
                list-style: none;
                padding-left: 0;
                @include MQ(lg) {
                    list-style: disc;
                    padding-left: 15px;
                }
                li {
                    color: #ffffff;
                    font-size: 1.125rem;
                    margin-bottom: 5px;
                    font-weight: 300;
                }
            }
        }
    }
    .galeria {
        padding-top: 60px;
        padding-bottom: 60px;
        @include MQ(lg) {
            padding-top: 90px;
            padding-bottom: 90px
        }
        &-col {
            padding: 0;
        }
    }
    .video {
        padding-top: 60px;
        padding-bottom: 60px;
        @include MQ(lg) {
            padding-top: 90px;
            padding-bottom: 90px
        }
    }
    .barrio {
        padding-top: 60px;
        padding-bottom: 50px;
        @include MQ(lg) {
            padding-top: 90px;
            padding-bottom: 60px;
        }
        &-col__l {
            background-color: $color-g;
            padding-top: 60px;
            padding-bottom: 60px;
            text-align: center;
            @include MQ(lg) {
                padding: 75px 60px;
                text-align: left;
            }
        }
        &-col__r {
            padding: 0;
            margin-top: 0;
            @include MQ(lg) {
                margin-top: -50px;
            }
        }
        &-text {
            ul {
                list-style: none;
                padding-left: 0;
                @include MQ(lg) {
                    list-style: disc;
                    padding-left: 15px;
                }
                li {
                    color: #000000;
                    font-size: 1.125rem;
                    margin-bottom: 5px;
                    font-weight: 300;
                }
            }
        }
    }
    .ubicacion {
        padding-top: 60px;
        padding-bottom: 60px;
        &-col__l {
            padding-left: 0;
            padding-right: 0;
            @include MQ(lg) {
                padding-left: 15px;;
            }
        }
        &-col__r {
            padding-left: 0;
            padding-right: 0;
            @include MQ(lg) {
                padding-right: 15px;;
            }
        }
        &-mapfilter {
            background-color: $color-g;
            .map-filter {
                padding-left: 15px;
                padding-right: 15px;
                text-align: left;
                @include MQ(md) {
                    text-align: center;
                }
                @include MQ(lg) {
                    text-align: left;
                }
                h5 {
                    margin-bottom: 35px;
                }
            }
        }
        &-box {
            background-color: $color-h;
            padding: 60px 15px;
            text-align: center;
            @include MQ(lg) {
                padding: 75px 60px;
                text-align: left;
            }
        }
        #map {
            height: 450px;
        }
        &-direccion {
            font-size: 1rem;
            font-weight: 400;
            color: #ffffff;
            margin-bottom: 30px;
            @include MQ(md) {
                font-size: 1.25rem;
            }
        }
        &-text {
            p {
                color: #ffffff;
                font-size: 0.9375rem;
                margin-bottom: 5px;
                font-weight: 300;
            }
        }
    }
    .subsidio {
        padding-top: 90px;
        padding-bottom: 90px;
        background-color: $color-m;
        margin-bottom: 90px;
    }
    .saladeventas {
        background-color: $color-g;
        padding-top: 50px;
        padding-bottom: 50px;
        @include MQ(lg) {
            padding-top: 90px;
            padding-bottom: 60px;
        }
        &-col__l {
            margin-bottom: 32px;
            @include MQ(md) {
                padding: 32px;
                margin-bottom: 0;
            }
        }
        &-col__r {
            margin-bottom: 32px;
            @include MQ(md) {
                padding: 32px;
                margin-bottom: 0;
            }
        }
        &-ul {
            &__text {
                font-size: 0.9375rem;
                margin-bottom: 5px;
                font-weight: 500;
                color: $color-h;
                a {
                    font-weight: 500;
                    color: $color-h;
                    &:hover {
                        color: $color-black;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}